*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}

/******** Navbar ********/
#container1{
    padding: 0px;
}
#mainnavbar{
    font-size: 25px;
    top: 20px;
}
.navbar-brand img{
    font-size: 20px;
}
#navbartoggle{
        
}
#navbarNavAltMarkup{
}
#toggleicon{
    border: 1px solid white;
    box-shadow: none;
    width: 40px;
    border-radius: 7px;
    height: 35px;
    padding: 0px;
    opacity: .5;
}
#toggleicon img{
    width: 20px;
    position: absolute;
}
#navbarNavAltMarkup a {
    margin-right: 40px;
    opacity: .7;
    color: white;
}
#navimg{
    
}
.navbar {
    position: fixed;
    background: transparent;
}

#navlist {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background: transparent;
    margin-top: -40px;
}

#navlist li {
    flex: auto;
    text-align: center;
    padding: 1.6em;
    font-size: 18px;
    color: white;
}


#toggle-nav {
    display: none;
    margin: auto;
    cursor: pointer;
}


/*-------------------Carousel----------------------*/
#carousel1{
    
}

.carousel-item{
}
.carousel-inner{
}
.d-block{
}
#img{
    width: 100%;
    height: 570px;
}
#img1{
    height: 570px;
}
#img2{
    width: 100%;
}

/*------------------Main-body-----------------------*/
#r1{
    margin-top: 40px;
}
#P1{
    font-size: 5em;
    font-family: Fahkwang;
    color: white;
    text-align: center;
    margin: 0px;
}
#handsimg{
    right: 0px;
}
#P2{
    font-family: Fahkwang;
    color: white;
}
#mainimgs{
    width: 95%;
    margin: auto;
}
#mainimgs div{
    padding: 0px;
    text-align: center;
}
#mainimgs img{ 
    width: 99%;
    margin-top: 5px;
}
#adjimg1{
    height: 210px;
}
#adjimg{
    height: 408px;
}

/*-Contact Page-*/
#contactmainbody{
    margin-top: 10%;
    text-align: center;
    color: white;
}

#contacth1{
    text-align: center;
    color: white;
}
#contacth1 div{
    
}
#contacth1 h5{
    
}
#contacth1 span{
    font-size: 1.2em;
    text-align: left;
}
#contacth1 p{
    font-style: italic;
    text-align: left;
}
#contacthidetails{
    text-align: left;
}
/*-Portfolio-*/
#prt{
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
#prtctn{
    margin-top: 120px;
}
/*-About-*/
#abtctn{
    margin-top: 100px;
    text-align: center;
    color: white;
    margin-top: 120px;
}
#abt{
    margin-top: 30px;
}

/*-----------------Footer------------------*/
#foot{
    background-color: #191f57;
    color: white;
    margin-top: 10px;
    clear: both;
    text-align: center;
}
#footcont1 a {
    width: 25px;
    padding: 0px;
}
#foot hr{
    width: 50%;
    margin-left: 25%;
    align-content: center;
    border: 1px solid #eee;
}


@media (min-width: 992px) and (max-width:1199px){
    .navbar-brand{
        padding: 0px;
        margin-left: 80px;
        margin-top: 0px;
    }
    #foota{
        margin-left: 45%;
    }
    #P1{
        font-size: 5em;
        width: 40%;
        text-align: left;
    }
    #handsimg{
        width: 60%;
        margin-top: -400px;
        position: relative;
        left: 450px
    }
    #handsimg img{
        margin-top: 0px;
        width: 90%;
    }
    #P2{
        font-size: 1.7rem;
    }
    #contactmainbody{
        margin-top: 15%;
    }
    #contacth1img{
        padding: 0%;
        width: 50%;
        text-align: right
        
    }
    #contacthidetails{
        width: 50%;
    }
    #adjimg1{
        height: 197px;
    }
    #c2img2{
        height: 306px;
    }
    #c2img{
        height: 250px;
    }
    #c3 img:nth-child(9){
        background: url('../Images/India-2762831_960_720.jpg') no-repeat;
        height: 190px;
    }
    #c2i10{
        height: 336px;
    }
    #navlist{
        margin-left: 130%;
    }
    .col-md-4{flex:0 0 auto;width:33.33333333%}
    #col1{
        float: left;
    }
    #col2{
        float: left;
    }
    #c3{
        float: left;
    }
    #rf1{
        margin-left: 40%;
    }
}
@media (min-width: 880px) and (max-width:991px){
    .navbar-brand{
        padding: 0px;
        margin-left: 60px;
        margin-top: 0px;
    }
    #foota{
        margin-left: 40%;
    }
    #P1{
        font-size: 4em;
        width: 40%;
        text-align: left;
    }
    #handsimg{
        width: 60%;
        margin-top: -340px;
        position: relative;
        left: 350px;
    }

    
    #handsimg img{
        margin-top: 0px;
        width: 90%;
    }
    #P2{
        font-size: 1.4rem;
    }
    #contactmainbody{
        margin-top: 15%;
    }
    #contacth1img{
        padding: 0%;
        width: 50%;
        text-align: right
        
    }
    #contacthidetails{
        width: 50%;
    }
    #adjimg1{
        height: 149px;
    }
    #c2img{
        height: 220px;
    }
    #c3 img:nth-child(9){
        height: 144px;
    }
    #c2i10{
        height: 252px;
    }
    #navlist{
        margin-left: 100%;
    }
    .col-md-4{flex:0 0 auto;width:33.33333333%}
    #col1{
        float: left;
    }
    #col2{
        float: left;
    }
    #c3{
        float: left;
    }
    #rf1{
        margin-left: 40%;
    }
}
@media (min-width: 768px) and (max-width:879px){
    .navbar-brand{
        padding: 0px;
        margin-left: 40px;
        margin-top: 0px;
    }
    #foota{
        margin-left: 40%;
    }
    #P1{
        font-size: 3.5em;
        width: 40%;
        text-align: left;
    }
    #handsimg{
        width: 60%;
        margin-top: -300px;
        position: relative;
        left: 330px;

    }
    #handsimg img{
        margin-top: 0px;
        width: 90%;
    }
    #P2{
        font-size: 1.4rem;
    }
    #contactmainbody{
        margin-top: 20%;
    }
    #contacth1img{
        padding: 0%;
        width: 50%;
        text-align: right
        
    }
    #contacthidetails{
        width: 50%;
    }
    #adjimg1{
        height: 149px;
    }
    #c2img2{
        height: 228px;
    }
    #c2img{
        height: 190px;
    }
    #c3 img:nth-child(9){
        height: 144px;
    }
    #c2i10{
        height: 252px;
    }
    #navlist{
        margin-left: 80%;
    }
    .col-sm-6{flex:0 0 auto;width:50%}
    #col1{
        float: left;
    }
    #col2{
        float: left;
    }
    #c3{
        float: left;
    }
}

@media (min-width: 577px) and (max-width: 767px){
    #navbarNavAltMarkup a {
        font-size: 20px;
        opacity: .7;
    }
    .navbar-brand{
        padding: 0px;
        margin-top: 10px;
    }
    #toggleicon{
        margin-top: 0px;
    }
    #handsimg{
        text-align: center;
    }
    #handsimg img{
        margin-top: 0px;
        width: 90%;
        text-align: center;
    }
    #P2{
        font-size: 1.4rem;
        margin-top: 20px;
    }
    #foot{
        background-color: #191f57;
        color: white;
        text-align: center;
    }
    #foota{
        margin-left: 35%;
    }
    #contactmainbody{
        margin-top: 20%;
    }
    #contacth1img{
        padding: 0%;
        width: 50%;
        text-align: right
        
    }
    #contacthidetails{
        width: 50%;
    }
    #c2img{
        height: 290px;
    }
    #c2i10{
       height: 283px; 
    }
    #mainimgs #c3imgs{ 
        width: 49%;
        margin-top: 5px;
        margin-left: 1%;
        float: left;
    }
    #mainimgs #c3imgs4{ 
        width: 49%;
        margin-top: 5px;
        margin-right: 1%;
        float: right;
    }
    #mainimgs #c3i4{
        width: 49%;
        margin-top: 5px;
        margin-right: 1%;
        float: left;
        margin-top: -45px;
    }
    #mainimgs #c3{
        padding: 0px;
        float: left;
    }
    
    #mainimgs #c3i9{
        width: 49%;
        margin-top: -130px;
        margin-right: 1%;
        float: right; 
    }
    #c3 img:nth-child(8){
        height: 235px;
    }
    #navlist{
        margin-left: 50%;
    }
    .col-sm-6{flex:0 0 auto; width:50%;}
    #col1{
        float: left;
    }
    #col2{
        float: left;
    }
    #c3{
        float: left;
    }
    #adjimg{
        width: 50%;
    }
}
@media (max-width: 576px) and (min-width: 500px){
    #P1{
        font-size: 3.5em;
        font-family: fahkwang;
        color: white;
        text-align: center;
    }
    #handsimg{
        margin-left: 0px;
        text-align: center;
    }
    #handsimg img{
        margin-left: 5%;
        width: 90%;
    }
    #P2{
        font-size: 1.2em;
        padding-left: 5%;
        padding-right: 5%;
    }
    #toggleicon{
        margin-top: 0px;
    }
    #foot{
        background-color: #191f57;
        color: white;
        text-align: center;
    }
    #foota{
        margin-left: 35%;
    }
    #contactmainbody{
        margin-top: 150px;
    }
    #contacth1 h5{
        text-align: center;
    }
    #contacth1 span{
        font-size: 1.2em;
        padding-left: 50px;
    }
    #contacth1 p{
        font-style: italic;
        padding-left: 50px;
    }
    #contacth1 img{
        
    }
    #contacthidetails{
        margin-top: 40px;
    }
    #mainimgs img{ 
        width: 90%;
        margin-top: 5px;
    }
    .navbar {
        padding: 1.6em;
    }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #toggle-nav {
        display: block;
        color: white;
        width: 30px;
        height: 40px;
        margin-left: 95%;
        position: relative;
        top: -90px;
        left: 350%;
    }
}
@media (max-width: 501px) {
    #P1{
        font-size: 3.5em;
        font-family: fahkwang;
        color: white;
        text-align: center;
    }
    #handsimg{
        margin-left: 0px;
        text-align: center;
    }
    #handsimg img{
        margin-left: 5%;
        width: 90%;
    }
    #P2{
        font-size: 1.2em;
        padding-left: 5%;
        padding-right: 5%;
    }
    #toggleicon{
        margin-top: 0px;
    }
    #foot{
        background-color: #191f57;
        color: white;
        text-align: center;
    }
    #foota{
        margin-left: 35%;
    }
    #contactmainbody{
        margin-top: 150px;
    }
    #contacth1 h5{
        text-align: center;
    }
    #contacth1 span{
        font-size: 1.2em;
        padding-left: 50px;
    }
    #contacth1 p{
        font-style: italic;
        padding-left: 50px;
    }
    #contacth1 img{
        
    }
    #contacthidetails{
        margin-top: 40px;
    }
    #mainimgs img{ 
        width: 90%;
        margin-top: 5px;
    }
    .navbar {
        padding: 1.6em;
    }

    #navlist {
        flex-direction: column;
        display: none;
    }

    #toggle-nav {
        display: block;
        color: white;
        width: 30px;
        height: 40px;
        margin-left: 95%;
        position: relative;
        top: -90px;
        left: 230%;
    }
}
@media (min-width: 1200px){
    .navbar-brand{
        padding: 0px;
        margin-left: 80px;
        margin-top: 0px;
    }
    #foota{
        margin-left: 45%;
    }
    #P1{
        font-size: 5.5em;
        width: 40%;
        text-align: left;
    }
    #handsimg{
        width: 60%;
        margin-top: -400px;
        position: relative;
        left: 500px;

    }
    #handsimg img{
        margin-top: 0px;
    }
    #P2{
        font-size: 2em;
    }
    #contacth1img{
        padding: 0%;
        width: 50%;
        text-align: right
        
    }
    #contacthidetails{
        width: 50%;
    }
    #adjimg1{
        height: 234px;
    }
    #adjimg{
        height: 357px;
    }
    #c2img2{
        height: 361px;
    }
    #c2img{
        height: 300px;
    }
    #c2i4{
      height: 500px;  
    }
    #c1i8{
        height: 467px;  
    }
    #c3 img:nth-child(3){
        height: 360px;
    }
    #c3i4{
        height: 600px;
    }
    #c3 img:nth-child(5){
        height: 520px;
    }
    #c3 img:nth-child(6){
        height: 596px;
    }
    #navlist{
        margin-left: 190%;
    }
    .col-md-4{flex:0 0 auto;width:33.33333333%}
    #col1{
        float: left;
    }
    #col2{
        float: left;
    }
    #c3{
        float: left;
    }
    #rf1{
        margin-left: 40%;
    }
}
/*row{--bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5)}.row>*{flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y)}.col{flex:1 0 0%}.row-cols-auto>*{flex:0 0 auto;width:auto}.row-cols-1>*{flex:0 0 auto;width:100%}.row-cols-2>*{flex:0 0 auto;width:50%}.row-cols-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-4>*{flex:0 0 auto;width:25%}.row-cols-5>*{flex:0 0 auto;width:20%}.row-cols-6>*{flex:0 0 auto;width:16.6666666667%}@media (min-width:576px){.col-sm{flex:1 0 0%}.row-cols-sm-auto>*{flex:0 0 auto;width:auto}.row-cols-sm-1>*{flex:0 0 auto;width:100%}.row-cols-sm-2>*{flex:0 0 auto;width:50%}.row-cols-sm-3>*{flex:0 0 auto;width:33.3333333333%}.row-cols-sm-4>*{flex:0 0 auto;width:25%}.row-cols-sm-5>*{flex:0 0 auto;width:20%}}

.col-sm-6{flex:0 0 auto;width:50%}*/